* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1120px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

.header {
  background: #f2ceda;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav__ul {
  display: flex;
  gap: 40px;
}
.header .navbar .nav__ul .nav__li {
  opacity: 0.6;
  color: #150101;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.header .navbar .nav__ul .nav__li:hover {
  color: #d23166;
}
.header .navbar .nav__button {
  padding: 14px 50px;
  color: #fafafa;
  font-family: Hind Madurai;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #d23166;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
