.header {
  background: $bgPink;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__ul {
      display: flex;
      gap: 40px;
      .nav__li {
        opacity: 0.6;
        color: $textColor;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        &:hover {
          color: $pinkButton;
        }
      }
    }
    .nav__button {
      padding: 14px 50px;
      color: #fafafa;
      font-family: Hind Madurai;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      background: $pinkButton;
      cursor: pointer;
    }
  }
}
