* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1120px;
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
}
